<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <link rel="stylesheet" href="../public/libs/css/bootstrap.css">
</head>
<body>
   
    <form class="row g-3" style="margin-left: 20px; margin-right: 20px;">
        <h2 style="color: rgb(0, 85, 255);">Employee Form</h2>
        <div class="col-md-6">
            <label for="firstname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstname">
          </div>
        <div class="col-md-6">
          <label for="lastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastname" >
        </div>
        <div class="col-md-6">
            <label for="age" class="form-label">Age</label>
            <input type="number" class="form-control" id="age">
          </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email">
        </div>
        <div class="col-12">
          <label for="telephone" class="form-label">Telephone</label>
          <input type="tel" class="form-control" id="telephone">
        </div>
        <div class="col-md-6">
          <button type="submit" class="btn btn-primary" name="submit">Sign in</button>
        </div>
      </form>
      <script src="../public/libs/js/bootstrap.bundle.min.js"></script>
</body>
</html>